.app
  display grid
  grid-template-columns 25% auto

  width 100%
  height 100%

  .app--chat
    display grid
    grid-template-rows fit-content(100%) auto fit-content(100%)
    overflow hidden

    .app-chat--write
      display grid
      grid-template-columns fit-content(100%) auto
      margin 15px 20px

      .app-chat-write--field
        position relative
        display grid
        grid-template-columns auto 60px

        background -color--grey
        border-radius -data--borderRadius
        align-items center
        padding 12.5px

        cursor text

        .app-chat-write-field--value
          position relative

          color -color--whiteDark
          background transparent
          border 0 transparent none

          resize none
          overflow hidden

        .app-chat-write-field--send
          width 35px
          cursor pointer
          position absolute
          right 12.5px
          bottom 12.5px


    .app-chat--main
      display grid
      grid-auto-rows fit-content(100%)
      max-height 100%
      overflow-y auto
      overflow-x hidden
      margin 20px

      .app-chat-main--time
        text-align center
        color -color--whiteDark

      .app-chat-main--message
        margin 5px
        font-size .9em
        display grid
        grid-template-columns fit-content(100%) auto
        align-items center
        max-width 70%

        .app-chat-main-message--timestamp
          color -color--greyLight
          font-size .9em

        .app-chat-main-message--bulb
          padding 12.5px
          margin 0 10px
          cursor pointer
          white-space normal

        &.-state--left
          justify-content left
          margin-right 35%

          .app-chat-main-message--bulb
            border-radius 0 -data--borderRadius -data--borderRadius -data--borderRadius
            background -color--grey
        &.-state--right
          justify-content right
          margin-left 35%

          .app-chat-main-message--bulb
            border-radius -data--borderRadius -data--borderRadius 0 -data--borderRadius
            background -color--primary
    .app-chat--header
      margin 20px
      padding 5px 20px
      display grid
      grid-template-rows fit-content(100%) fit-content(100%)
      background -color--grey
      border-radius -data--borderRadius

      .app-chat-header--user
        display grid
        grid-template-columns fit-content(100%) fit-content(100%) auto
        text-align left
        align-items center

        .app-chat-header-user--picture
          margin 10px 0
          border-radius 100%
          width 35px

        .app-chat-header-user--name
          font-weight 600
          position relative
          margin 0 10px 0 15px

        .app-chat-header-user--status
          display block
          width 7.5px
          height 7.5px
          border-radius 100%
          background -color--greyLight
          transition background .3s

        &.-state--online
          .app-chat-header-user--status
            background -color--green

        &.-state--offline
          .app-chat-header-user--status
            background -color--red

        &.-state--pending
          .app-chat-header-user--status
            background -color--orange

  .app--sidebar
    background -color--grey
    overflow hidden
    position relative

    .app-sidebar--drag
      position absolute
      top 0
      bottom 0
      width 3px
      cursor w-resize
      right 0

    .app-sidebar--chats
      overflow hidden

      .app-sidebar-chats--container
        display grid
        grid-auto-rows fit-content(100%)

        .app-sidebar-chats-container--chat
          position relative
          display grid
          grid-template-columns fit-content(100%) auto fit-content(100%)
          padding 20px 40px
          align-items center
          text-align left
          cursor pointer
          transition background .3s

          .app-sidebar-chats-container-chat--status
            position absolute
            width 7.5px
            height 7.5px
            right 25px
            top 0
            bottom 0
            margin auto
            background -color--grey
            transition color .3s
            opacity 0
            border-radius 100%

          .app-sidebar-chats-container-chat--picture
            width 45px
            border-radius 100%

          .app-sidebar-chats-container-chat--meta
            display grid
            grid-template-rows fit-content(100%) fit-content(100%)
            margin 0 20px

            .app-sidebar-chats-container-chat-meta--name
              font-weight 600
              margin-bottom 5px

            .app-sidebar-chats-container-chat-meta--message
              font-size .9em
              color -color--whiteDark

          &.-state--unread
            .app-sidebar-chats-container-chat--meta
              .app-sidebar-chats-container-chat-meta--message
                font-weight 600
            .app-sidebar-chats-container-chat--status
              background -color--primary
              opacity 1

          &.-state--opened
            background -color--greyLight

          &:hover
            background -color--greyLight

      .app-sidebar-chats--header
        margin 45px 0 40px 40px
        color -color--whiteDark

        .app-sidebar-chats-header--text
          color -color--white
          font-weight 600

    .app-sidebar--user
      background -color--primary
      padding 35px 25px

      display grid
      grid-template-columns fit-content(100%) auto

      align-items center

      .app-sidebar-user--picture
        width 60px
        margin 10px
        border-radius 100%

      .app-sidebar-user--about
        margin-left 10px

        .app-sidebar-user-about--name
          font-weight 600
          margin-bottom 5px
          font-size 1.2em
          position relative
          display grid
          grid-template-columns fit-content(100%) fit-content(100%)

          .app-sidebar-user-about-name--holder
            position relative

            .app-sidebar-user-about-name-holder--icon
              transition transform .3s

              &.-state--clicked
                transform rotate(180deg)

            .app-sidebar-user-about-name-holder--tooltip
              position absolute
              left 50%
              border-radius -data--borderRadius
              font-size .85em
              background -color--greyLight
              top 30px
              font-weight 500
              padding 15px 17.5px

              transform scaleY(0) scaleX(0) translateX(-50%)
              transform-origin top left
              overflow hidden

              transition transform .3s

              .app-sidebar-user-about-name-holder-tooltip--button
                margin 5px 0
                cursor pointer

                display grid
                grid-template-columns fit-content(100%) auto
                align-items center

                img
                  width 1.5em
                  margin-right 5px
                  
                &.app-sidebar-user-about-name-holder-tooltip--logout
                  color -color--red
                  font-weight 600

              &.-state--visible
                transform scaleY(1) scaleX(1) translateX(-50%)
            .app-sidebar-user-about-name-holder--icon
              display inline-block
              width .8em
              margin-left 7.5px
              cursor pointer
        .app-sidebar-user-about--id
          font-size .9em
          cursor pointer
          color -color--primaryLight

          &:hover
            text-decoration underline