.authentication
  display inline-grid
  grid-template-rows auto fit-content(100%)
  align-items center
  text-align center
  justify-content center
  width 100%
  height 100%

  .authentication--footer
    position absolute
    left 0
    right 0
    bottom 20px

    a
      margin 0 5px
      color -color--whiteDark
      transition color .3s

      &:hover
        color -color--white

  .authentication--main
    display grid
    padding 20px 40px
    background -color--grey
    justify-content center
    border-radius -data--borderRadius

    .authentication-main--inputs
      margin 15px 0 5px 0

      .component--input
        margin 20px

      .component--switch
        margin-top 30px
        margin-bottom 15px

    .authentication-main--header
      font-weight 400
      font-size 1.8em
      margin 10px

    .authentication-main--headerSmall
      font-weight 400
      font-size 1.1em
      color -color--whiteDark
      margin-bottom 10px

    .authentication-main--logo
      margin 15px 0

      img
        width 10%
        max-width 50px
        min-width 35px
