.authentication {
  display: grid;
  grid-template-rows: auto fit-content(100%);
  align-items: center;
  text-align: center;
}
.authentication .authentication--main {
  display: grid;
  padding: 20px;
}
