&
  background -color--greyDark

  width 100%
  height 100%

  overflow hidden

  .-state--hidden
    opacity 0
    pointer-events none

  *
    outline none

  .curtain, .render
    height 100%
    width 100%
    overflow hidden
    position absolute

  .curtain
    z-index 1
    transition margin-left 1s ease-out
    background -color--grey
    display grid
    align-items center
    justify-content center
    cursor default

    img
      width 10vw
      max-width 85px

    &.-state--animate
      margin-left 100%

  .render
    z-index 0
    color -color--white

    .render--layer
      overflow hidden
      position absolute
      pointer-events none

      &.-state--fill
        height 100%
        width 100%

      &.-state--pointer
        pointer-events all

      &.-state--curtain
        height 100%
        width 100%
        background rgba(0, 0, 0, 0%)

        &.-state--curtainVisible
          background rgba(0, 0, 0, 35%)

      &.-state--animateCurtainFade
        transition background .3s

      & > *
        opacity 0
        pointer-events none

      &.-state--animateFill
        & > *
          transition transform .3s
          transform scale(0)

      &.-state--animateFade
        & > *
          transition opacity .3s
          opacity 0

      &.-state--return
        & > *
          opacity 1
        &.-state--curtain
          background rgba(0, 0, 0, 0%)
        &.-state--animateFade
          & > *
            opacity 0

      &.-state--visible
        & > *
          opacity 1
          transform scale(1)
        &.-state--pointer
          & > *
            pointer-events all

    @import '_app'
    @import '_authentication'
    @import '_settings'

    @import '../_components/_button'
    @import '../_components/_input'