.settings
  display grid
  grid-template-columns 30% 70% fit-content(100%)
  height 100%
  background -color--greyDark
  position relative

  .settings--close
    position absolute
    top 30px
    right 30px
    cursor pointer
    width 17.5px

  .settings--current
    .settings-current--container
      padding 20px 65px 65px 65px

      .component--input
        margin 25px 0

      .settings-current--email
        .settings-current-email--confirm
          margin-left 10px

      .settings-current-container--recovery
        margin-top 60px

        .component--link
          margin-bottom 10px

      .settings-current-container--changeImage
        display grid
        grid-template-columns fit-content(100%) fit-content(100%) fit-content(100%) 0
        align-items center
        margin-bottom 60px

        .settings-current-container-changeImage--image
          width 55px
          margin-right 10px
          border-radius 100px

        .component--link
          margin 5px

    .settings-current--header
      margin 40px

  .settings--categories
    position relative
    background -color--grey
    overflow hidden

    .settings-categories--header
      margin 40px

    .settings-categories--option
      position relative
      display grid
      grid-template-columns fit-content(100%) auto
      cursor pointer
      align-items center
      padding 25px 40px
      transition background .3s

      &:hover
        background -color--greyLight

      &.-state--active
        background -color--greyLight

      .settings-categories-option--icon
        width 30px
        margin-right 20px

      .settings-categories-option--text
        display grid
        grid-auto-rows fit-content(100%)

        .settings-categories-option-text--name
          font-weight 600
          margin-bottom 5px
        .settings-categories-option-text--description
          color -color--whiteDark
          font-size .9em
