.app-sidebar-chats-container--chat
    img(src='%picture').app-sidebar-chats-container-chat--picture
    .app-sidebar-chats-container-chat--meta
        .app-sidebar-chats-container-chat-meta--name %name
        .app-sidebar-chats-container-chat-meta--message %message
    .app-sidebar-chats-container-chat--status