.app
    .app--sidebar
        .app-sidebar--user
            img(src='#').app-sidebar-user--picture
            .app-sidebar-user--about
                .app-sidebar-user-about--name
                    span.app-sidebar-user-about-name--text

                    .app-sidebar-user-about-name--holder
                        img(hook='src::icon:arrowDown').app-sidebar-user-about-name-holder--icon

                        .app-sidebar-user-about-name-holder--tooltip
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--settings
                                img(hook='src::icon:settings')
                                | Settings
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--lock
                                img(hook='src::icon:lock')
                                | Lock
                            .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--logout
                                img(hook='src::icon:logout')
                                | Logout
                .app-sidebar-user-about--id
                    span.app-sidebar-user-about-id--pre @
                    span.app-sidebar-user-about-id--text

        .app-sidebar--chats
            .app-sidebar-chats--header
                span.app-sidebar-chats-header--text CHATS
                | &nbsp; &mdash; &nbsp;
                span.app-sidebar-chats-header--count
            .app-sidebar-chats--container
        .app-sidebar--drag
    .app--chat
        .app-chat--header.-state--hidden
            .app-chat-header--user
                img(src='#').app-chat-header-user--picture
                .app-chat-header-user--name
                .app-chat-header-user--status
            .app-chat-header--options
        .app-chat--main
        .app-chat--write.-state--hidden
            .app-chat-write--attachment
            .app-chat-write--field
                textarea(rows='1' spellcheck='false' placeholder='Type something...').app-chat-write-field--value
                img(hook='src::icon:send').app-chat-write-field--send