.authentication
    .authentication--main
        .authentication-main--logo
            img(hook='src::icon:pixel')
        h1.authentication-main--header Authentication
        h2.authentication-main--headerSmall Please login to access your account.
        .authentication-main--inputs
            .component--input
                .component-input--header
                    span.component-input-header--tag USERNAME
                    span.component-input-header--status
                input(type='text' spellcheck='false')
            .component--input
                .component-input--header
                    span.component-input-header--tag PASSWORD
                    span.component-input-header--status
                input(type='password' spellcheck='false')
            .component--switch
                label.component-switch--switch
                    input(type='checkbox' checked)
                    .component-switch--slider
                span.component-switch--text Stay signed in
        .component--button.-state--disabled
            a(href='#') Authenticate

    .authentication--footer
        a(href='#').authentication-footer--help Help
        a(href='privacy/').authentication-footer--privacy Privacy