.authentication.locked
    .authentication--main
        .authentication-main--logo
            img(hook='src::icon:pixel')
        h1.authentication-main--header Account locked
        h2.authentication-main--headerSmall Please login to access your account.
        .authentication-main--inputs
            .component--input
                .component-input--header
                    span.component-input-header--tag PASSWORD
                    span.component-input-header--status
                input(type='password' spellcheck='false')
        .component--button.authentication-main--unlock.-state--disabled
            a(href='#') Unlock
        .component--link.authentication-main--logout.-state--red Not you?

    .authentication--footer
        a(href='#').authentication-footer--help Help
        a(href='privacy/').authentication-footer--privacy Privacy