.settings
    .settings--categories
        h1.settings-categories--header Settings

        .settings-categories--option
            img(src='#' hook='src::icon:settings:profile').settings-categories-option--icon
            .settings-categories-option--text
                span.settings-categories-option-text--name Profile
                span.settings-categories-option-text--description Lorem ipsum dolor sit amet.
        .settings-categories--option
            img(src='#' hook='src::icon:settings:app').settings-categories-option--icon
            .settings-categories-option--text
                span.settings-categories-option-text--name App
                span.settings-categories-option-text--description Lorem ipsum dolor sit amet.
    .settings--current
    img(src='#' hook='src::icon:close').settings--close