@-moz-keyframes -animation--blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes -animation--blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes -animation--blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes -animation--blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
