&
  color -color--white

  font-family -font--default
  font-size .9em

  white-space nowrap

  a
    color -color--white
    text-decoration none
    cursor pointer

  h1, h2, h3, h4, h5, h6
    margin 0