// COLOR DEFINITIONS

-color--green = #05c46b
-color--orange = #fa8231

-color--red = #FE4A49
-color--redLight = #FE5A59

-color--primaryLight = #7174D5
-color--primary = #3C40C6
-color--primaryDark = #3235A3

-color--greyDark = #060612
-color--grey = #1C1C27
-color--greyLight = #30303A

-color--white = #E8E8E8
-color--whiteDark = #A3A3A3

// FONTS
-font--default = 'Montserrat', sans-serif

// DATA
-data--borderRadius = 5px