h1.settings-current--header App

.settings-current--container
    .settings-current-container--changeImage
        img(src='#').settings-current-container-changeImage--image
        span.component--link Upload new image
        span.component--link.-state--red Delete
