h1.settings-current--header Profile

.settings-current--container
    .settings-current-container--changeImage
        img(src='#').settings-current-container-changeImage--image
        span.component--link.settings-current-container-changeImage--upload Upload new image
        span.component--link.-state--red.settings-current-container-changeImage--reset Reset
        input(type='file').settings-current-container-changeImage--input.-state--hidden
    .component--input.settings-current-container--username.-state--disabled
        .component-input--header
            span.component-input-header--tag USERNAME
            span.component-input-header--status
        input(type='text' spellcheck='false' readonly)
    .component--input.settings-current-container--fullName
        .component-input--header
            span.component-input-header--tag FULL NAME
            span.component-input-header--status
        input(type='text' spellcheck='false')
    .component--input.settings-current-container--email
        .component-input--header
            span.component-input-header--tag E-MAIL ADDRESS
            span.component-input-header--status
        .component-input--alignCenter
            input(type='email' spellcheck='false')
            span.component--link.settings-current-container-email-alignCenter--confirm Confirm
    .settings-current-container--recovery
        .component--link.settings-current-container-recovery--changePassword Change password
        .component--link.-state--red.settings-current-container-recovery--changePassword Delete this account