<p>Share your unique account ID</p><div class="component--input"><input class="modal-copyId--input" type="text" spellcheck="false" value="%id"/></div><div class="component--button modal-copyId--copy"><a href="#">Copy</a></div>