p Do you want to start a conversation with&nbsp;
    b %name&nbsp;
    | (%id)?
.component--inline
    .component--button.-state--secondary.modal-newChat--abort
        a(href='#') Abort
    .component--button.modal-newChat--start
        a(href='#') Start