/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html {
  width: 100%;
  height: 100%;
}
html {
  color: #e8e8e8;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
}
html a {
  color: #e8e8e8;
  text-decoration: none;
  cursor: pointer;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}
html body {
  background: #060612;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body .-state--hidden {
  opacity: 0;
  pointer-events: none;
}
html body * {
  outline: none;
}
html body .curtain,
html body .render {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
html body .curtain {
  z-index: 1;
  transition: margin-left 1s ease-out;
  background: #1c1c27;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: default;
}
html body .curtain img {
  width: 10vw;
  max-width: 85px;
}
html body .curtain.-state--animate {
  margin-left: 100%;
}
html body .render {
  z-index: 0;
  color: #e8e8e8;
}
html body .render .render--layer {
  overflow: hidden;
  position: absolute;
  pointer-events: none;
}
html body .render .render--layer.-state--fill {
  height: 100%;
  width: 100%;
}
html body .render .render--layer.-state--pointer {
  pointer-events: all;
}
html body .render .render--layer.-state--curtain {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0);
}
html body .render .render--layer.-state--curtain.-state--curtainVisible {
  background: rgba(0,0,0,0.35);
}
html body .render .render--layer.-state--animateCurtainFade {
  transition: background 0.3s;
}
html body .render .render--layer > * {
  opacity: 0;
  pointer-events: none;
}
html body .render .render--layer.-state--animateFill > * {
  transition: transform 0.3s;
  transform: scale(0);
}
html body .render .render--layer.-state--animateFade > * {
  transition: opacity 0.3s;
  opacity: 0;
}
html body .render .render--layer.-state--return > * {
  opacity: 1;
}
html body .render .render--layer.-state--return.-state--curtain {
  background: rgba(0,0,0,0);
}
html body .render .render--layer.-state--return.-state--animateFade > * {
  opacity: 0;
}
html body .render .render--layer.-state--visible > * {
  opacity: 1;
  transform: scale(1);
}
html body .render .render--layer.-state--visible.-state--pointer > * {
  pointer-events: all;
}
html body .render .app {
  display: grid;
  grid-template-columns: 25% auto;
  width: 100%;
  height: 100%;
}
html body .render .app .app--chat {
  display: grid;
  grid-template-rows: fit-content(100%) auto fit-content(100%);
  overflow: hidden;
}
html body .render .app .app--chat .app-chat--write {
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  margin: 15px 20px;
}
html body .render .app .app--chat .app-chat--write .app-chat-write--field {
  position: relative;
  display: grid;
  grid-template-columns: auto 60px;
  background: #1c1c27;
  border-radius: 5px;
  align-items: center;
  padding: 12.5px;
  cursor: text;
}
html body .render .app .app--chat .app-chat--write .app-chat-write--field .app-chat-write-field--value {
  position: relative;
  color: #a3a3a3;
  background: transparent;
  border: 0 transparent none;
  resize: none;
  overflow: hidden;
}
html body .render .app .app--chat .app-chat--write .app-chat-write--field .app-chat-write-field--send {
  width: 35px;
  cursor: pointer;
  position: absolute;
  right: 12.5px;
  bottom: 12.5px;
}
html body .render .app .app--chat .app-chat--main {
  display: grid;
  grid-auto-rows: fit-content(100%);
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--time {
  text-align: center;
  color: #a3a3a3;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message {
  margin: 5px;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;
  max-width: 70%;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message .app-chat-main-message--timestamp {
  color: #30303a;
  font-size: 0.9em;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message .app-chat-main-message--bulb {
  padding: 12.5px;
  margin: 0 10px;
  cursor: pointer;
  white-space: normal;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message.-state--left {
  justify-content: left;
  margin-right: 35%;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message.-state--left .app-chat-main-message--bulb {
  border-radius: 0 5px 5px 5px;
  background: #1c1c27;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message.-state--right {
  justify-content: right;
  margin-left: 35%;
}
html body .render .app .app--chat .app-chat--main .app-chat-main--message.-state--right .app-chat-main-message--bulb {
  border-radius: 5px 5px 0 5px;
  background: #3c40c6;
}
html body .render .app .app--chat .app-chat--header {
  margin: 20px;
  padding: 5px 20px;
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  background: #1c1c27;
  border-radius: 5px;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) auto;
  text-align: left;
  align-items: center;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user .app-chat-header-user--picture {
  margin: 10px 0;
  border-radius: 100%;
  width: 35px;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user .app-chat-header-user--name {
  font-weight: 600;
  position: relative;
  margin: 0 10px 0 15px;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user .app-chat-header-user--status {
  display: block;
  width: 7.5px;
  height: 7.5px;
  border-radius: 100%;
  background: #30303a;
  transition: background 0.3s;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user.-state--online .app-chat-header-user--status {
  background: #05c46b;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user.-state--offline .app-chat-header-user--status {
  background: #fe4a49;
}
html body .render .app .app--chat .app-chat--header .app-chat-header--user.-state--pending .app-chat-header-user--status {
  background: #fa8231;
}
html body .render .app .app--sidebar {
  background: #1c1c27;
  overflow: hidden;
  position: relative;
}
html body .render .app .app--sidebar .app-sidebar--drag {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  cursor: w-resize;
  right: 0;
}
html body .render .app .app--sidebar .app-sidebar--chats {
  overflow: hidden;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container {
  display: grid;
  grid-auto-rows: fit-content(100%);
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat {
  position: relative;
  display: grid;
  grid-template-columns: fit-content(100%) auto fit-content(100%);
  padding: 20px 40px;
  align-items: center;
  text-align: left;
  cursor: pointer;
  transition: background 0.3s;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat .app-sidebar-chats-container-chat--status {
  position: absolute;
  width: 7.5px;
  height: 7.5px;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #1c1c27;
  transition: color 0.3s;
  opacity: 0;
  border-radius: 100%;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat .app-sidebar-chats-container-chat--picture {
  width: 45px;
  border-radius: 100%;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat .app-sidebar-chats-container-chat--meta {
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  margin: 0 20px;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat .app-sidebar-chats-container-chat--meta .app-sidebar-chats-container-chat-meta--name {
  font-weight: 600;
  margin-bottom: 5px;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat .app-sidebar-chats-container-chat--meta .app-sidebar-chats-container-chat-meta--message {
  font-size: 0.9em;
  color: #a3a3a3;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat.-state--unread .app-sidebar-chats-container-chat--meta .app-sidebar-chats-container-chat-meta--message {
  font-weight: 600;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat.-state--unread .app-sidebar-chats-container-chat--status {
  background: #3c40c6;
  opacity: 1;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat.-state--opened {
  background: #30303a;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--container .app-sidebar-chats-container--chat:hover {
  background: #30303a;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--header {
  margin: 45px 0 40px 40px;
  color: #a3a3a3;
}
html body .render .app .app--sidebar .app-sidebar--chats .app-sidebar-chats--header .app-sidebar-chats-header--text {
  color: #e8e8e8;
  font-weight: 600;
}
html body .render .app .app--sidebar .app-sidebar--user {
  background: #3c40c6;
  padding: 35px 25px;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--picture {
  width: 60px;
  margin: 10px;
  border-radius: 100%;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about {
  margin-left: 10px;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 1.2em;
  position: relative;
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder {
  position: relative;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--icon {
  transition: transform 0.3s;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--icon.-state--clicked {
  transform: rotate(180deg);
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--tooltip {
  position: absolute;
  left: 50%;
  border-radius: 5px;
  font-size: 0.85em;
  background: #30303a;
  top: 30px;
  font-weight: 500;
  padding: 15px 17.5px;
  transform: scaleY(0) scaleX(0) translateX(-50%);
  transform-origin: top left;
  overflow: hidden;
  transition: transform 0.3s;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--tooltip .app-sidebar-user-about-name-holder-tooltip--button {
  margin: 5px 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  align-items: center;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--tooltip .app-sidebar-user-about-name-holder-tooltip--button img {
  width: 1.5em;
  margin-right: 5px;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--tooltip .app-sidebar-user-about-name-holder-tooltip--button.app-sidebar-user-about-name-holder-tooltip--logout {
  color: #fe4a49;
  font-weight: 600;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--tooltip.-state--visible {
  transform: scaleY(1) scaleX(1) translateX(-50%);
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--name .app-sidebar-user-about-name--holder .app-sidebar-user-about-name-holder--icon {
  display: inline-block;
  width: 0.8em;
  margin-left: 7.5px;
  cursor: pointer;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--id {
  font-size: 0.9em;
  cursor: pointer;
  color: #7174d5;
}
html body .render .app .app--sidebar .app-sidebar--user .app-sidebar-user--about .app-sidebar-user-about--id:hover {
  text-decoration: underline;
}
html body .render .authentication {
  display: inline-grid;
  grid-template-rows: auto fit-content(100%);
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
html body .render .authentication .authentication--footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
html body .render .authentication .authentication--footer a {
  margin: 0 5px;
  color: #a3a3a3;
  transition: color 0.3s;
}
html body .render .authentication .authentication--footer a:hover {
  color: #e8e8e8;
}
html body .render .authentication .authentication--main {
  display: grid;
  padding: 20px 40px;
  background: #1c1c27;
  justify-content: center;
  border-radius: 5px;
}
html body .render .authentication .authentication--main .authentication-main--inputs {
  margin: 15px 0 5px 0;
}
html body .render .authentication .authentication--main .authentication-main--inputs .component--input {
  margin: 20px;
}
html body .render .authentication .authentication--main .authentication-main--inputs .component--switch {
  margin-top: 30px;
  margin-bottom: 15px;
}
html body .render .authentication .authentication--main .authentication-main--header {
  font-weight: 400;
  font-size: 1.8em;
  margin: 10px;
}
html body .render .authentication .authentication--main .authentication-main--headerSmall {
  font-weight: 400;
  font-size: 1.1em;
  color: #a3a3a3;
  margin-bottom: 10px;
}
html body .render .authentication .authentication--main .authentication-main--logo {
  margin: 15px 0;
}
html body .render .authentication .authentication--main .authentication-main--logo img {
  width: 10%;
  max-width: 50px;
  min-width: 35px;
}
html body .render .settings {
  display: grid;
  grid-template-columns: 30% 70% fit-content(100%);
  height: 100%;
  background: #060612;
  position: relative;
}
html body .render .settings .settings--close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  width: 17.5px;
}
html body .render .settings .settings--current .settings-current--container {
  padding: 20px 65px 65px 65px;
}
html body .render .settings .settings--current .settings-current--container .component--input {
  margin: 25px 0;
}
html body .render .settings .settings--current .settings-current--container .settings-current--email .settings-current-email--confirm {
  margin-left: 10px;
}
html body .render .settings .settings--current .settings-current--container .settings-current-container--recovery {
  margin-top: 60px;
}
html body .render .settings .settings--current .settings-current--container .settings-current-container--recovery .component--link {
  margin-bottom: 10px;
}
html body .render .settings .settings--current .settings-current--container .settings-current-container--changeImage {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%) 0;
  align-items: center;
  margin-bottom: 60px;
}
html body .render .settings .settings--current .settings-current--container .settings-current-container--changeImage .settings-current-container-changeImage--image {
  width: 55px;
  margin-right: 10px;
  border-radius: 100px;
}
html body .render .settings .settings--current .settings-current--container .settings-current-container--changeImage .component--link {
  margin: 5px;
}
html body .render .settings .settings--current .settings-current--header {
  margin: 40px;
}
html body .render .settings .settings--categories {
  position: relative;
  background: #1c1c27;
  overflow: hidden;
}
html body .render .settings .settings--categories .settings-categories--header {
  margin: 40px;
}
html body .render .settings .settings--categories .settings-categories--option {
  position: relative;
  display: grid;
  grid-template-columns: fit-content(100%) auto;
  cursor: pointer;
  align-items: center;
  padding: 25px 40px;
  transition: background 0.3s;
}
html body .render .settings .settings--categories .settings-categories--option:hover {
  background: #30303a;
}
html body .render .settings .settings--categories .settings-categories--option.-state--active {
  background: #30303a;
}
html body .render .settings .settings--categories .settings-categories--option .settings-categories-option--icon {
  width: 30px;
  margin-right: 20px;
}
html body .render .settings .settings--categories .settings-categories--option .settings-categories-option--text {
  display: grid;
  grid-auto-rows: fit-content(100%);
}
html body .render .settings .settings--categories .settings-categories--option .settings-categories-option--text .settings-categories-option-text--name {
  font-weight: 600;
  margin-bottom: 5px;
}
html body .render .settings .settings--categories .settings-categories--option .settings-categories-option--text .settings-categories-option-text--description {
  color: #a3a3a3;
  font-size: 0.9em;
}
html body .render .component--button {
  margin: 15px 0;
}
html body .render .component--button a {
  border-radius: 200px;
  padding: 12.5px 20px;
  background: #3c40c6;
  display: inline-block;
  transition: background 0.3s;
}
html body .render .component--button a:hover {
  background: #3235a3;
}
html body .render .component--button.-state--disabled a,
html body .render .component--button.-state--secondary a {
  background: #30303a;
}
html body .render .component--button.-state--disabled.-state--disabled,
html body .render .component--button.-state--secondary.-state--disabled {
  pointer-events: none;
}
html body .render .component--input {
  position: relative;
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  text-align: left;
}
html body .render .component--input input[type='text'],
html body .render .component--input input[type='password'],
html body .render .component--input input[type='email'] {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 12.5px 15px;
  outline: none;
  background: #30303a;
  color: #a3a3a3;
  width: 20vw;
  min-width: 250px;
  max-width: 385px;
  transition: border-color 0.3s;
}
html body .render .component--input input[type='text']:focus,
html body .render .component--input input[type='password']:focus,
html body .render .component--input input[type='email']:focus {
  border-color: #3c40c6;
}
html body .render .component--input .component-input--header {
  font-weight: 600;
  color: #a3a3a3;
  font-size: 0.85em;
  margin: 0 0 10px 5px;
  transition: color 0.3s;
}
html body .render .component--input .component-input--alignCenter {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  align-items: center;
}
html body .render .component--input .component-input--alignCenter > *:first-child {
  margin: 0 5px 0 0;
}
html body .render .component--input .component-input--alignCenter > *:not(:first-child) {
  margin: 0 5px;
}
html body .render .component--input.-state--disabled input[type='text'],
html body .render .component--input.-state--disabled input[type='password'],
html body .render .component--input.-state--disabled input[type='email'] {
  font-weight: bold;
  cursor: not-allowed;
}
html body .render .component--input.-state--disabled input[type='text']:focus,
html body .render .component--input.-state--disabled input[type='password']:focus,
html body .render .component--input.-state--disabled input[type='email']:focus {
  border-color: transparent;
}
html body .render .component--input.-state--invalid input[type='text'],
html body .render .component--input.-state--invalid input[type='password'],
html body .render .component--input.-state--invalid input[type='email'] {
  border-color: #fe4a49;
}
html body .render .component--input.-state--invalid .component-input--header {
  color: #fe4a49;
}
html body .component--modal {
  display: inline-grid;
  grid-template-rows: auto fit-content(100%);
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
html body .component--modal .component-modal--content {
  display: grid;
  padding: 20px 40px;
  background: #1c1c27;
  justify-content: center;
  border-radius: 5px;
}
html body .component--toast {
  width: 100%;
  height: 100%;
  text-align: center;
}
html body .component--toast.-state--error .component-toast--text {
  background: #fe4a49;
}
html body .component--toast .component-toast--text {
  position: absolute;
  bottom: 5%;
  padding: 12.5px 20px;
  background: #3c40c6;
  border-radius: 5px;
}
html body .component--button {
  margin: 15px 0;
}
html body .component--button a {
  border-radius: 200px;
  padding: 12.5px 20px;
  background: #3c40c6;
  display: inline-block;
  transition: background 0.3s;
}
html body .component--button a:hover {
  background: #3235a3;
}
html body .component--button.-state--disabled a,
html body .component--button.-state--secondary a {
  background: #30303a;
}
html body .component--button.-state--disabled.-state--disabled,
html body .component--button.-state--secondary.-state--disabled {
  pointer-events: none;
}
html body .component--link {
  cursor: pointer;
  color: #a3a3a3;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;
}
html body .component--link:hover {
  color: #e8e8e8;
}
html body .component--link.-state--red {
  color: #fe4a49;
  font-weight: bold;
}
html body .component--link.-state--red:hover {
  color: #fe5a59;
}
html body .component--link.-state--primary {
  color: #3c40c6;
  font-weight: bold;
}
html body .component--link.-state--primary:hover {
  color: #7174d5;
}
html body .component--input {
  position: relative;
  display: grid;
  grid-template-rows: fit-content(100%) fit-content(100%);
  text-align: left;
}
html body .component--input input[type='text'],
html body .component--input input[type='password'],
html body .component--input input[type='email'] {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 12.5px 15px;
  outline: none;
  background: #30303a;
  color: #a3a3a3;
  width: 20vw;
  min-width: 250px;
  max-width: 385px;
  transition: border-color 0.3s;
}
html body .component--input input[type='text']:focus,
html body .component--input input[type='password']:focus,
html body .component--input input[type='email']:focus {
  border-color: #3c40c6;
}
html body .component--input .component-input--header {
  font-weight: 600;
  color: #a3a3a3;
  font-size: 0.85em;
  margin: 0 0 10px 5px;
  transition: color 0.3s;
}
html body .component--input .component-input--alignCenter {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  align-items: center;
}
html body .component--input .component-input--alignCenter > *:first-child {
  margin: 0 5px 0 0;
}
html body .component--input .component-input--alignCenter > *:not(:first-child) {
  margin: 0 5px;
}
html body .component--input.-state--disabled input[type='text'],
html body .component--input.-state--disabled input[type='password'],
html body .component--input.-state--disabled input[type='email'] {
  font-weight: bold;
  cursor: not-allowed;
}
html body .component--input.-state--disabled input[type='text']:focus,
html body .component--input.-state--disabled input[type='password']:focus,
html body .component--input.-state--disabled input[type='email']:focus {
  border-color: transparent;
}
html body .component--input.-state--invalid input[type='text'],
html body .component--input.-state--invalid input[type='password'],
html body .component--input.-state--invalid input[type='email'] {
  border-color: #fe4a49;
}
html body .component--input.-state--invalid .component-input--header {
  color: #fe4a49;
}
html body .component--switch label.component-switch--switch {
  position: relative;
  display: inline-block;
  margin: auto 10px;
  width: 25px;
  height: 7.5px;
  cursor: pointer;
}
html body .component--switch label.component-switch--switch .component-switch--slider {
  position: absolute;
  border-radius: 100px;
  background: #30303a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 0.3s;
}
html body .component--switch label.component-switch--switch .component-switch--slider:before {
  content: '';
  position: absolute;
  background-color: #a3a3a3;
  border-radius: 100px;
  height: 10px;
  width: 10px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}
html body .component--switch label.component-switch--switch input[type='checkbox'] {
  display: none;
}
html body .component--switch label.component-switch--switch input[type='checkbox']:checked ~ .component-switch--slider {
  background: #3c40c6;
}
html body .component--switch label.component-switch--switch input[type='checkbox']:checked ~ .component-switch--slider:before {
  left: calc(100% - 10px);
}
html body .component--inline > * {
  display: inline-block;
}
html body .component--inline .component--button {
  margin: 0 7.5px;
}
