.component--button
  margin 15px 0

  a
    border-radius 200px
    padding 12.5px 20px
    background -color--primary
    display inline-block

    transition background .3s

    &:hover
      background -color--primaryDark

  &.-state--disabled, &.-state--secondary
    a
      background -color--greyLight

    &.-state--disabled
      pointer-events none