.component--input
  position relative
  display grid
  grid-template-rows fit-content(100%) fit-content(100%)

  text-align left

  input[type='text'], input[type='password'], input[type='email']
    border-radius -data--borderRadius
    border 2px solid transparent
    padding 12.5px 15px
    outline none
    background -color--greyLight
    color -color--whiteDark

    width 20vw

    min-width 250px
    max-width 385px

    transition border-color .3s

    &:focus
      border-color -color--primary

  .component-input--header
    font-weight 600
    color -color--whiteDark
    font-size .85em
    margin 0 0 10px 5px
    transition color .3s

  .component-input--alignCenter
    display grid
    grid-template-columns fit-content(100%) fit-content(100%)
    align-items center

    & > *:first-child
      margin 0 5px 0 0

    & > *:not(:first-child)
      margin 0 5px

  &.-state--disabled
    input[type='text'], input[type='password'], input[type='email']
      font-weight bold
      cursor not-allowed

      &:focus
        border-color transparent

  &.-state--invalid
    input[type='text'], input[type='password'], input[type='email']
      border-color -color--red
    .component-input--header
      color -color--red
