.component--link
  cursor pointer
  color -color--whiteDark
  font-weight 500
  transition color .3s
  text-decoration none

  &:hover
    color -color--white

  &.-state--red
    color -color--red
    font-weight bold

    &:hover
      color -color--redLight

  &.-state--primary
    color -color--primary
    font-weight bold

    &:hover
      color -color--primaryLight