.component--link {
  cursor: pointer;
  color: -color--primary;
  font-weight: bold;
  transition: color 0.3s;
  text-decoration: none;
}
.component--link:hover {
  color: -color--primaryLight;
}
.component--link .-state--red {
  color: -color--red;
}
.component--link .-state--red:hover {
  color: -color--redLight;
}
