.component--modal
  display inline-grid
  grid-template-rows auto fit-content(100%)
  align-items center
  text-align center
  justify-content center
  width 100%
  height 100%

  .component-modal--content
    display grid
    padding 20px 40px
    background -color--grey
    justify-content center
    border-radius -data--borderRadius