.component--switch
  label.component-switch--switch
    position relative
    display inline-block
    margin auto 10px

    width 25px
    height 7.5px

    cursor pointer

    .component-switch--slider
      position absolute
      border-radius 100px
      background -color--greyLight

      top 0
      left 0
      right 0
      bottom 0

      transition background-color 0.3s

      &:before
        content ''
        position absolute
        background-color -color--whiteDark
        border-radius 100px

        height 10px
        width 10px

        left 0
        top 50%

        transform translateY(-50%)
        transition left .3s

    input[type='checkbox']
      display none

    input[type='checkbox']:checked ~ .component-switch--slider
      background -color--primary

      &:before
        left calc(100% - 10px)