.component--input-switch input[type="checkbox"] {
  display: none;
}
.component--input-switch input[type="checkbox"]:checked + label i {
  opacity: 1;
}
.component--input-switch label {
  position: relative;
  margin-left: calc(0.9em + 10px);
  cursor: pointer;
}
.component--input-switch label:before {
  content: '';
  width: 0.9em;
  height: 0.9em;
  border: 2px solid -color--darkGrey;
  border-radius: 5px;
  position: absolute;
  left: calc(-0.9em - 10px);
}
.component--input-switch label i {
  color: #fff;
  font-size: 0.8em;
  opacity: 0;
  position: absolute;
  left: calc(-0.9em - 10px);
  bottom: 0;
}
