.component--toast
  width 100%
  height 100%
  text-align center

  &.-state--error
    .component-toast--text
      background -color--red

  .component-toast--text
    position absolute
    bottom 5%
    padding 12.5px 20px
    background -color--primary
    border-radius -data--borderRadius